* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #020b1f;
  font-family: Arial, sans-serif;
  color: white;
}

.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  background: radial-gradient(circle at center, #061b45, #020b1f);
}

.login-left h1,
.login-card h2 {
  font-size: 60px;
  font-weight: 700;
}

.login-left span,
.login-card span {
  color: #33bfff;
}

.mail-icon,
.top-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: #33bfff;
  font-size: 30px;
}

.preview-box {
  margin-top: 40px;
  width: 400px;
  height: 400px;
  border-radius: 30px;
  background: rgba(12, 30, 70, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-icon {
  width: 170px;
  height: 170px;
  border-radius: 30px;
  border: 3px solid #33bfff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #33bfff;
  font-size: 70px;
  box-shadow: 0 0 50px #33bfff;
}

.login-card {
  width: 550px;
  padding: 50px;
  border-radius: 30px;
  background: rgba(9, 25, 60, 0.95);
}

.login-card p {
  margin: 15px 0 35px;
  color: #b8c2d9;
}

.login-card label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 600;
}

.login-card input {
  width: 100%;
  padding: 22px;
  border-radius: 18px;
  border: none;
  margin-bottom: 10px;
  font-size: 18px;
}

.login-card button {
  width: 100%;
  margin-top: 30px;
  padding: 22px;
  border: none;
  border-radius: 18px;
  background: linear-gradient(to right, #38bdf8, #3b82f6);
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 30px #38bdf8;
}